<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SonectShouldPresentSonectLogo</key>
	<true/>
	<key>SonectDebuggingEnabled</key>
	<true/>
	<key>SonectEnvironment</key>
	<string>DEV</string>
	<key>SonectCurrency</key>
	<string>CHF</string>
</dict>
</plist>
